*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: azure;
    background-color: #333;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #333;

}

.nav-bar{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 8px gray;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.list li{
    list-style: none;
}

ul li{
    display: inline;
    list-style-type: none;
    margin: 0 5px
}

.profile-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
}

.profile-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

img{
    margin-top: 60px;
    justify-content: center;
    border-radius: 100px;
    max-width: 70%;
    width: 20%;
    height: 20%;
    border: 2px solid white;
    margin-bottom: 20px;
}

h2, h4{
    line-height: 30px;
    text-align: center;
}
h2{
    font-size: 30px;
}

.profile-bio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 10px;
}

.p-h3{
    text-align: center;
    margin-bottom: 5px;
    background-color: transparent;
}

p{
    line-height: 20px;
    text-align: justify;
}

.profile-sum{
    /* text-align: center; */
    margin-top: 20px;
    margin-bottom: 10px;
}

ol li{
    line-height: 25px;
}

.profile-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 10px;
}

.p-contact{
    text-align: center;
}

form{
    margin-top: 20px;
    padding: 10px;
    border: none;
  
}

form input{
    /* width: 50%; */
    background: transparent;
}

.btn{
    border-radius: 5px;
    padding: 3px;
}

textarea{
    background: transparent;
    width: 185px;
}

footer{
    padding:5px;
    text-align: center;
    box-shadow: 0px 2px 8px gray;
    
}

a{
    
    text-decoration: none;
}

a li{
    text-decoration: none;
}